.page--contents {
  height: 100vh;
  overflow: auto;
}

.page--contents > section {
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 600px;
}

.page--contents > section p {
  margin: 1em 0;
}
